[Unit]
Description=Camera Stream %i
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=always
RestartSec=5
StartLimitIntervalSec=0

ExecStart=/PATH TO/start-camera.sh %i

KillSignal=SIGTERM
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target